<div>
    <form id='loginForm'>
        <label for='email'>Email</label>
        <input type='email' name='email' placeholder='email' />
        <br />
        <label for='password'>Password</label>
        <input type='password' name='password' />
        <input type='submit' />
    </form>
    <p> Estas registrado ? <a href='/views/sessions/register'>Registrate aqui </a> </p>
    <div>
        <a href="/api/sessions/github"><button> Entrar con GitHub </button></a>
    </div>
</div>

<script src='/js/login.js' type='module'></script>