<div>

    <form id='registerForm'>
        <label for='first_name'>first name</label>
        <input type='text' name='first_name' />
        <br />
        <label for='last_name'>last name</label>
        <input type='text' name='last_name' />
        <br />
        <label for='email'>Email</label>
        <input type='email' name='email' placeholder='email' />
        <br />
        <label for='age'>Age</label>
        <input type='date' name='age' placeholder='age' />
        <br />
        <label for='password'>Password</label>
        <input type='password' name='password' />
        <br />
        <input type='submit' />
    </form>
</div>
<script src='/js/register.js'></script>